<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="es1.css">
<script>
var app = angular.module('myApp', []);
app.controller('FormController', function($scope) {
$scope.formData = {};
$scope.submitForm = function() {
// Do something with form data
};
});
</script>
</head>
<body>
<!-- HTML code for the form -->
<div ng-app="myApp" ng-controller="formCtrl">
<form name="myForm" ng-submit="submitForm()" novalidate>
<h2>Riviera Form</h2>
<label>Name:</label>
<input type="text" name="name" ng-model="formData.name" required>
<div ng-show="myForm.name.$dirty && myForm.name.$invalid">
<span ng-show="myForm.name.$error.required">Name is required.</span>
</div>
<label>Date of Birth:</label>
<input type="date" name="dob" ng-model="formData.dob" required>
<div ng-show="myForm.dob.$dirty && myForm.dob.$invalid">
<span ng-show="myForm.dob.$error.required">Date of Birth is required.</span>
</div>
<label>Session:</label>
<select name="session" ng-model="formData.session" required>
<option value="">--Select--</option>
<option value="2020-21">2020-21</option>
<option value="2021-22">2021-22</option>
<option value="2022-23">2022-23</option>
<option value="2023-24">2023-24</option>
</select>
<div ng-show="myForm.session.$dirty && myForm.session.$invalid">
<span ng-show="myForm.session.$error.required">Session is required.</span>
</div>
<label>Phone Number:</label>
<input type="tel" name="phone" ng-model="formData.phone" required pattern="[0-9]{10}">
<div ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
<span ng-show="myForm.phone.$error.required">Phone number is required.</span>
<span ng-show="myForm.phone.$error.pattern">Invalid phone number.</span>
</div>
<label>Email ID:</label>
<input type="email" name="email" ng-model="formData.email" required>
<div ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email ID is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</div>
<label>Password:</label>
<input type="password" name="password" ng-model="formData.password" required
minlength="6">
<div ng-show="myForm.password.$dirty && myForm.password.$invalid">
<span ng-show="myForm.password.$error.required">Password is required.</span>
<span ng-show="myForm.password.$error.minlength">Password should be at least 6
characters long.</span>
</div>
<label>Confirm Password:</label>
<input type="password" name="confirmPassword" ng-model="formData.confirmPassword"
required match-password="formData.password">
<div ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">
<span ng-show="myForm.confirmPassword.$error.required">Confirm Password is
required.</span>
<span ng-show="myForm.confirmPassword.$error.matchPassword">Passwords do not
match.</span>
</div>
<button type="submit">Submit
</body>
</html>